{% extends "layout.html" %}


{% block content %}

<div class="media">
    <img src="{{ image_file }}">
    <p>Имя пользователя: {{ current_user.username }}</p>
    <p>Адрес электронной почты: {{ current_user.email }}</p>
</div>

<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Аккаунт пользователя</legend>
        {{ form.username.label }}
        {% if form.username.errors %}
        {{ form.username }}
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        {% else %}
        {{ form.username }}
        {% endif %}
        <div class="form-group">
            {{ form.email.label }}
            {% if form.email.errors %}
            {{ form.email }}
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
            {% else %}
            {{ form.email }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture }}
            {% if form.picture.errors %}
            {% for error in form.picture.errors %}
            {{ error }}
            {% endfor %}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        Кнопка {{ form.submit }} аккаунт пользователя
    </div>
</form>


{% endblock content %}
