{% extends "layout.html" %}

{% block content %}
{% for post in posts.items %}
<div class="container">
    <br>
    <img src="{{ url_for('static', filename='profile_image/' + post.author.image_file) }}">
    </br>
    <small>Автор поста: </small><a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
    <div class="card">
        <small>Название поста: </small><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
        <small>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</small>
        <p><small>Текст поста: </small> {{ post.content }}</p>
    </div>
</div>
{% endfor %}

{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a href="{{ url_for('posts.allpost', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a href="{{ url_for('posts.allpost', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}

{% endif %}
{% endfor %}
{% endblock content %}
